body{
    align-items: center;
}
.box{
    width: 600px;
    height: 300px ;
    border: 0.5px solid black ;
    box-shadow: 10px 10px 10px rgb(106, 105, 105);
    margin: 100px auto;
}
button{
    display: block;
    padding: 10px 20px;
    background-color: black;
    color: aliceblue;
    box-shadow: 5px 5px 5px rgb(106, 105, 105);
    margin: 20px auto;
}
button:hover{
    cursor: pointer;
    scale: 1.1;
}
.text {
    color: aliceblue;
    padding: 5px 20px;
    width: 200px;
    margin: 30px auto;
}